@media only screen and (max-width: 1300px) {

    .header {
        margin-top: 70px;
        width: 90%;
    }

    .block2 {
        margin-top: 160px;
    }

    .g-300 {
        width: 200px;
        height: 200px;
    }

    .g-150 {
        width: 100px;
        height: 100px;
    }

    .g-75 {
        width: 50px;
        height: 50px;
    }

    .g-left,
    .g-right {
        margin-top: 50px;
    }
}


@media only screen and (max-width: 1023px) {

    .footer {
        padding: 0 30px;
    }
}

@media only screen and (max-width: 800px) {

    .g-left,
    .g-right {
        margin-top: 25px;
    }

    .g-300 {
        width: 110px;
        height: 110px;
    }

    .g-150 {
        width: 60px;
        height: 60px;
    }

    .g-75 {
        width: 40px;
        height: 40px;
    }

    .white-block {
        margin-top: -60px;
        height: 460px;
    }

    .outer:after,
    .outer:before {
        height: 50px;
    }

    .block2 {
        margin-top: 80px;
    }

    .user-count {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .about {
        margin-top: 80px;
    }

    .footer {
        flex-direction: column;
        padding: 20px 30px;
        height: auto;
    }

    .nav {
        flex-direction: column;
        align-items: center;

        a {
            margin: 0;
            margin-bottom: 30px;
        }
    }

    .soc {
        justify-content: center;
        order: 1;
        margin: initial;
        margin-bottom: 30px;
    }

    .foo-logo {
        order: 2;
        margin: initial;
        justify-content: center;

    }

    .logo {
        width: 170px;

        img {
            width: 100%;
        }
    }

    .burger {
        height: 17px;
        width: 30px;

        span {
            width: 30px;
            height: 2px;
        }
    }

    .burger span:nth-child(2) {
        top: 7px;
    }

    .burger span:nth-child(3) {
        top: 14px;
    }

    .search-btn {
        height: 23px;
        width: 23px;
    }

    .isolation {
        font-size: 23px;
        letter-spacing: 20px;
        padding-left: 20px;
    }
}


@media only screen and (max-width: 480px) {

    .design {
        font-size: 18px;
        line-height: 21px;
    }

    .desc {
        font-size: 13;
    }

    .g-right,
    .g-left {
        margin-top: 20px;

        .g-300 {
            width: 60px;
            height: 60px;
        }
    }

    .g-center {
        .g-300 {
            height: 90px;
            width: 90px;
        }
    }
}